<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
        form{ text-align:center;
        }

    </style>
</head>
<body style="background-color:Plum;">
<h1 style="text-align:center;"><b> Registration Form </b></h1>
    <form action="" method="post">
       {% csrf_token %}

         <input type="text" name="username" placeholder="Enter your Username"><br><br>
         <input type="text" name="first_name" placeholder="Enter your firstname"><br><br>
         <input type="text" name="last_name" placeholder="Enter your lastname"><br><br>
         <input type="email" name="email" placeholder="Enter your email"><br><br>
         <input type="password" name="password" placeholder="Enter your password"><br><br>
         <input type="password" name="confirm password" placeholder="Confirm your password"><br><br>
         <input type="submit" value="Register"><br><br>

    </form>
{% for msg in messages %}
<h1 style="text-align:center;color:brown;"><b>{{msg}}</b></h1>
{% endfor %}
</body>
</html>